body
	font-family: microsoft yahei,Arial, Helvetica, sans-serif
	margin: 0


	header
		margin: 0px
		height: 450px
		background: url(hotel_banner.jpeg)
		background-size: cover



		.logo
			height: 140px
			width: 100px
			float: left

		nav
			background-color: white
			ul 
				margin: 0
				li
					list-style-type: none
					display: inline-block
					margin-top: 20px
					margin-bottom: 20px

					a
						margin-left: 15px
						color: #0b0b0b
						color: black
						font:
							size: 16px
							weight: 700
						text-decoration: none

						&:hover
							color: #999
		h1
			text-align: center
			color: white 
			font:
				size: 36px
				weight: 900px
			letter-spacing: 0.05em
			clear: both
			padding-top: 0px

			span 
				display: inline-block
				padding: 0.5em
				border: white solid 5px







	.container
		border-bottom: 1px solid #999

		ul 
			li
				list-style-type: none
				display: inline-block
				margin: 0
				a
					margin: 5px 20px 5px 0px
					color: #0b0b0b
					text-decoration: none

					&:hover
						color: #999

	.col
		display: inline-block
		float: left
		margin: 1%
		width: 31%
		height: 250px
		background-color: #999
		background-size: cover
		border-radius: 2px
		box-shadow: 2px 2px 0 #d2d1d1
	.hotel_info

footer
	clear: both
	font-family: microsoft yahei,Arial, Helvetica, sans-serif

	.box-le
		width: 158px
		padding-left: 46px
		min-height: 450px
		float: left

		.f-name
			color: #666
			line-height: 20px

		.c1_col
			color: #2980b9
			font:
				size: 20px
			line-height: 28px
			text-shadow: 1px 1px 1px #ccc



	.box-cm			
		width: 805px
		padding-left: 50px
		float: left
		font:
			size: 16px
		color: #666

		.box-con-nav
			line-height: 24px
			letter-spacing: 0.025em

		&:hover
			color: #2980b9


	.box-con-lx
		margin-top: 20px
		line-height: 24px
		color: #666
		font-size: 14px
		padding-left: 5px


	a
		color: #666
		text-decoration: none


